<section>
    <button (click)="togglePublication()"> 
        @if (article.isPublished) {
            Dépublier
        } @else {
            Publier
        }
        l'article</button>
</section>

@if (article.isPublished) {
<article>
    <header>
        <h2>{{article.title}}</h2>
        <p>By {{article.author}}</p>
    </header>
    <p>{{article.content}}</p>
    <img [src]="article.image">  
    <footer>
        <h3>Commentaires</h3>
        <p>{{article.comment}}</p>
        <label for="comment">Ajoutez votre commentaire</label>
        <input type="text" [(ngModel)]="article.comment" id="comment">
    </footer>
</article>
}

