:host {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24rem;
    background-color: pink;
    border: 8px ridge rgba(255, 0, 247, 0.6);


    fieldset {
        width: 18rem;
        margin: 1rem;
        border-color: palevioletred;

        label {
            padding-right: 1rem;
        }

        input {
            width: 16rem;
        }

        &.textarea {
            display: flex;
            flex-direction: column;
        }
    }

    button {
        width: 18rem;
        margin-bottom: 0.5rem;
        background-color: whitesmoke;
        color: blueviolet;
        border-radius: 8px;

        &.prime {
            background-color: blueviolet;
            color: whitesmoke;
        }
    }
}