

        @if(article.isPublished) {
            <article [ngClass]="{'popular-article': article.likes >= 100}">
                <header>
                    <h2>{{article.title}}</h2>
                    <p>By {{article.author}}</p>
                    <p>{{article.content}}</p>
                </header>
                
                <img [src]="article.image" width="150" height="150">
                <p class="likes">{{article.likes}} 🤍</p>
                
                <footer>
                    <button (click)="likeIt()">J'aime</button>
                </footer>
                
            </article>
        }


