<form [formGroup]="userForm" class="form" (ngSubmit)="submit()" required>
    <label>
        Nom d'utilisateur :
        <input type="text" formControlName="username">
    </label>
    @if(userForm.controls.username.errors && !userForm.controls.username.pristine) {
        <span class="error" [hidden]="!userForm.controls.username.errors['required']">Le nom d'utilisateur est requis</span>
        <span class="error" [hidden]="!userForm.controls.username.invalid">Le nom d'utilisateur est invalide</span>
    }
    <label>
        Email :
        <input type="text" formControlName="email">
    </label>
    @if(userForm.controls.email.errors && !userForm.controls.email.pristine) {
        <span class="error" [hidden]="!userForm.controls.email.errors['required']">L'email est requis</span>
        <span class="error" [hidden]="!userForm.controls.email.invalid">L'email doit se finir en wilder.school</span>
    }
    <label>
        Mot de passe :
        <input type="text" formControlName="password">
    </label>
    <div formGroupName="adress">
        <h3>Adresse :</h3>
        <label>
            Rue :
            <input type="text" formControlName="street">
        </label>
        <label>
            Code postal :
            <input type="text" formControlName="zipCode">
        </label>
        <label>
            Ville :
            <input type="text" formControlName="city">
        </label>
    </div>
    
    <button (click)="submit()" [disabled]="!userForm.valid">Inscription</button>
</form>
<div>
    <ul>Results :
        @if (user) {
            <li>{{user | json}}</li>
        }
        
    </ul>
</div>
